eureka:
  client:
    fetchRegistry: true #注册到别的服务，所有设置为true
    registerWithEureka: true #需要去检索服务，所有设置为true
    service-url:
      defaultZone: http://localhost:9000/eureka,http://localhost:9001/eureka #服务注册中心的配置内容，指定服务注册中心的位置
  server:
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 60000

server:
  port: 8003
spring:
  application:
    name: eureka-consumer